@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.kaushan-regular {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.delicious-handrawn-regular {
  font-family: 'Delicious Handrawn', serif;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: 'Indie Flower', serif;
  font-weight: 400;
  font-style: normal;
}

.text-shadow {
  color: $shadow !important;
}
.bg-shadow {
  background: $shadow !important;
}

.text-dark {
  color: $dark !important;
}
.bg-dark {
  background: $dark !important;
}

.bg-dark-page {
  background: $dark-page !important;
}

.text-dark-primary {
  color: $dark-primary !important;
}
.bg-dark-primary {
  background: $dark-primary !important;
}

.cube-light {
  color: $primary;
  border-color: $primary;
}
.cube-dark {
  @extend .text-dark-primary;
  border-color: $dark-primary;
}
