@font-face {
  font-family: 'Kalam', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
}

// declare a class which applies it
.kalam-font {
  font-family: 'Kalam', cursive;
}

.text-shadow {
  color: $shadow !important;
}
.bg-shadow {
  background: $shadow !important;
}

.text-dark {
  color: $dark !important;
}
.bg-dark {
  background: $dark !important;
}

.text-dark-primary {
  color: $dark-primary !important;
}
.bg-dark-primary {
  background: $dark-primary !important;
}

.cube-light {
  color: $primary;
  border-color: $primary;
}
.cube-dark {
  @extend .text-dark-primary;
  border-color: $dark-primary;
}
